MONGO_URI=mongodb+srv://[username:password@]host/[defaultauthdb][?options]
FRONTEND_URL=http://localhost:3000
PORT=5000
AI_PROVIDER=groq
GROQ_API_KEY=
NODE_ENV=development

JWT_SECRET=your-long-random-secret-here(same as frontend)
JWT_EXPIRES_IN=1d 
